html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 30% 100% 30%;
  background-color: #151515;
  background: url(images/splitriver.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #d0d0d0;
}
html hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
}

/* github pages, please update this section this time */
.transparentbg {
  background-color: #1515157f;
  padding: 20px;
}

/* if width < 1280px, fill screen */
@media only screen and (max-width: 1280px) {
  html {
    padding: 10px 10% 100% 10%;
  }
}

ul {
  padding: 0 0 0 0;
}

.links a {
  color: #9f9f4f;
}
